body {
    font: 15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align: center;
}

a, a:visited {
    outline: none;
    color: #389dc1;
}

section, footer, header, aside, nav {
    display: block;
}

nav {
    display: inline-block;
    margin: 60px auto 45px;
    background-color: #5597b4;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
}

    nav a {
        display: inline-block;
        padding: 18px 30px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        line-height: 1;
        -webkit-transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        transition: background-color 0.25s;
    }

h2, h3 {
    text-align: left;
    padding-left: 50px;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: #7d9098;
    text-align: left;
    padding-left: 50px;
}

.center {
    text-align: center;
}

p b {
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    background-color: #c4d7e0;
    border-radius: 2px;
    font-size: 18px;
}
